.App__wrapper{
  width: 80%;
  margin: auto;
  position: relative;
}

h1{
  line-height: 40px;
}

.task-blocks-wrapper{
  display: flex;
  flex-wrap: wrap;

}

.left-right-container{
  display: flex;
  justify-content: space-around;
}
.left-div{
  display: flex;
  flex-direction: column;
  padding-right: 10px;
}
.left-div-tags-wrapper{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.right-div{
  width: 70%;
  margin-left: 20px;
}

.tag-active{
  background-color: black;
  color: white;
}
.filter-tag{
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin: 8px 0;
}

@media (max-width: 580px) {
  .left-right-container{
    display: flex;
    flex-direction: column;
  }
  .left-div-tags-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .right-div{
    width: 90%;
    margin-left: 0;
    
  }
  .left-div{
    display: flex;
    padding-right: 10px;
  }
  .task-blocks-wrapper{
    justify-content: center;
    align-items: center;
  }

}