.App__wrapper{
  width: 80%;
  margin: auto;
  position: relative;
}

.task-blocks-wrapper{
  display: flex;
  flex-wrap: wrap;
}

.left-right-container{
  display: flex;
  justify-content: space-around;
}
.left-div{
  width: 30%;
}
.right-div{
  width: 70%;
  margin-left: 20px;
}